<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="myrestupload">
			<div class="grid text-center">
				<h3>관리자용 음식점 업로드</h3>
				<hr>
			</div>
			<form class="row g-3">
				<div class="col-12">
					<label for="inputAddress" class="form-label">음식점 이름</label> <input
						type="text" class="form-control" id="inputAddress"
						placeholder="1234 Main St">
				</div>
				<div class="col-md-6">
					<label for="inputEmail4" class="form-label">키워드1</label> <input
						type="email" class="form-control" id="inputEmail4">
				</div>
				<div class="col-md-6">
					<label for="inputPassword4" class="form-label">키워드2</label> <input
						type="password" class="form-control" id="inputPassword4">
				</div>
				<div class="col-12">
					<label for="inputAddress" class="form-label">영업시간1</label> <input
						type="text" class="form-control" id="inputAddress"
						placeholder="예시) 월~금 9:00~17:00">
				</div>
				<div class="col-12">
					<label for="inputAddress2" class="form-label">영업시간2</label> <input
						type="text" class="form-control" id="inputAddress2"
						placeholder="예시) 월~금 9:00~17:00">
				</div>
				<div class="col-12">
					<label for="inputAddress2" class="form-label">영업시간3</label> <input
						type="text" class="form-control" id="inputAddress2"
						placeholder="예시) 월~금 9:00~17:00">
				</div>
				<div>
					<label>기본정보</label>
					<textarea name="name" id="inputCity" rows="1" cols="55"
						placeholder="음식점의 기본정보를 작성해주세요 (최대 1000자)" maxlength="1000"
						required></textarea>
				</div>
				<div class="mb-3">
					<label for="formFile" class="form-label">Default file input
						example</label> <input class="form-control" type="file" id="formFile">
				</div>
				<div class="mb-3">
					<label for="formFileMultiple" class="form-label">Multiple
						files input example</label> <input class="form-control" type="file"
						id="formFileMultiple" multiple>
				</div>
				<div class="mb-3">
					<label for="formFileDisabled" class="form-label">Disabled
						file input example</label> <input class="form-control" type="file"
						id="formFileDisabled" disabled>
				</div>
				<div class="col-12">
					<label for="inputAddress2" class="form-label">위치</label> <input
						type="text" class="form-control" id="inputAddress2"
						placeholder="도로명 주소를 입력해주세요">
				</div>

				<div class="col-12">
					<button type="submit" class="btn btn-primary">Sign in</button>
				</div>
			</form>
		</div>

	</div>
</body>
</html>