<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="myrestupload">
			<div class="grid text-center">
				<h3>관리자용 음식점 업로드</h3>
				<hr>
			</div>
			<form class="row g-3" method="post" th:object="${restaurantFormDto}"
				enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}" />
				<div class="col-12">
					<label for="inputAddress" class="form-label">음식점 이름</label> <input
						th:field="*{resName}" type="text" class="form-control"
						id="inputAddress">
				</div>

				<div class="col-12">
					<label for="inputAddress" class="form-label">영업시간1</label> <input
						th:field="*{time1}" type="text" class="form-control"
						id="inputAddress" placeholder="예시) 월~금 9:00~17:00">
				</div>
				<div class="col-12">
					<label for="inputAddress2" class="form-label">영업시간2</label> <input
						type="text" class="form-control" id="inputAddress2"
						th:field="*{time2}" placeholder="예시) 월~금 9:00~17:00">
				</div>
				<div>
					<label>기본정보</label>
					<textarea name="name" id="inputCity" rows="1" cols="55"
						th:field="*{information}"
						placeholder="음식점의 기본정보를 작성해주세요 (최대 1000자)" maxlength="1000"
						required></textarea>
				</div>

				<!-- 등록할 때 -->
				<div th:if="${#lists.isEmpty(restaurantFormDto.resImgDtoList)}">
					<div th:each="num: ${#numbers.sequence(1,5)}">
						<div class="mb-3">
							<label for="formFile" class="form-label custom-file-label"
								th:text="상품이미지 + ${num}"></label> <input
								class="form-control custom-file-input" type="file"
								id="restImgFile" name="restImgFile">
						</div>
					</div>
				</div>
				
				<div th:if="${not #lists.isEmpty(restaurantFormDto.resImgDtoList)}">
					<div
						th:each="resImgDto, status: ${restaurantFormDto.resImgDtoList}">
						<div class="mb-3">
							<label for="formFile" class="form-label custom-file-label"
								th:text="${not #strings.isEmpty(resImgDto.oriImgName)} ? ${resImgDto.oriImgName} : '음식점이미지' + ${status.index+1}">
							</label> <input type="hidden" name="resImgIds" th:value="${resImgDto.id}">
							<input class="form-control custom-file-input" type="file"
								id="resImgFile" name="resImgFile">
						</div>
					</div>
				</div>

				<!--  -->
				<div class="col-12">
					<label for="inputAddress2" class="form-label">위치</label> <input
						type="text" class="form-control" id="inputAddress2"
						th:field="*{location}" placeholder="도로명 주소를 입력해주세요">
				</div>


				<div class="col-12"
					th:if="${#strings.isEmpty(restaurantFormDto.id)}">
					<button th:formaction="@{/restaurant/myrestupload}" type="submit"
						class="btn btn-primary">저장</button>
				</div>
				<div th:unless="${#strings.isEmpty(restaurantFormDto.id)}">
					<button
						th:formaction="@{'/restaurant/myrestupload' + ${restaurantFormDto.id}}"
						type="submit" class="btn btn-primary mb-3">수정</button>
				</div>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}">
			</form>
		</div>

	</div>
</body>
</html>