<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- th:fragment 다른 페이지에 포함시킬 영역을 만들어 준다. -->
	<div th:fragment="header">
		<nav class="navbar bg-body-tertiary ">
			<div class="container-fluid row text-center">
				<a class="navbar-brand text-center " href="#"> <img
					src="/images/toto.png" alt="Logo" width="40"
					class="d-inline-block "> 밥은 먹고 다니니?
				</a>

			</div>

		</nav>
		<nav
			class=" navbar navbar-expand-lg bg-body-tertiary  row justify-content-center ">
			<div class="container-fluid col-6 ">
				<a class="navbar-brand " href="/">배고파</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse " id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/restaurant/myrest"
							sec:authorize="isAuthenticated()">나만의 맛집리스트</a></li>
						<li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
							<a class="nav-link" href="/restaurant/myrestupload">관리자용 음식점 등록</a>
						</li>
						<li class="nav-item "><a class="nav-link"
							sec:authorize="isAnonymous()" href="/members/login">로그인</a></li>
						<li class="nav-item "><a class="nav-link"
							sec:authorize="isAuthenticated()" href="/members/logout">로그아웃</a></li>
					</ul>
				</div>
				<form class="d-flex" role="search">
					<input class="form-control me-2 " type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</nav>

	</div>
</html>